@model List<ChargeMachineViewModel>
@using Newtonsoft.Json


<link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />

<div class="d-flex align-items-center">
    <h1 class="margin-bottom-40 margin-right-auto">Charge machines overview</h1>

    <a type="button" class="btn btn-primary add-button" asp-controller="ChargeMachines" asp-action="AddStation">
        <i class="fas fa-plus icon-button"></i>
        <span>Add station</span>
    </a>
</div>

<table id="charge-machines-table" class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Code</th>
            <th scope="col">City</th>
            <th scope="col">Street</th>
            <th scope="col">Number</th>
            <th scope="col">Longitude</th>
            <th scope="col">Latitude</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var chargeMachine in Model)
        {
            var index = Model.IndexOf(chargeMachine) + 1;
            <tr>
                <th>@index</th>
                <td>@chargeMachine.Code</td>
                <td>@chargeMachine.City</td>
                <td>@chargeMachine.Street</td>
                <td>@chargeMachine.Number</td>
                <td>@chargeMachine.Longitude</td>
                <td>@chargeMachine.Latitude</td>
                <td>
                    <a type="button"
                   class="btn btn-primary"
                   asp-controller="ChargeMachines"
                   asp-action="StationDetails"
                   asp-route-id="@chargeMachine.Id">
                        <i class="fa fa-info-circle icon-button"></i>
                        <span>Details</span>
                    </a>

                    <a type="button"
                   class="btn btn-success"
                   asp-controller="ChargeMachines"
                   asp-action="EditStation"
                   asp-route-id="@chargeMachine.Id">
                        <i class="fas fa-edit icon-button"></i>
                        <span>Edit</span>
                    </a>

                    <a type="button"
                   class="btn btn-danger"
                   asp-controller="ChargeMachines"
                   asp-action="DeleteStation"
                   asp-route-id="@chargeMachine.Id">
                        <i class="fa fa-trash icon-button"></i>
                        <span>Delete</span>
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>

<div id="googleMap" style="height:400px;width:100%;"></div>
<script>
function initMap(position) {
    var myCenter = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
    var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

    var data = @Html.Raw(JsonConvert.SerializeObject(this.Model));

    $.each(data, function(i, item) {
        var marker = new google.maps.Marker({
            'position': new google.maps.LatLng(item.Latitude, item.Longitude),
            'map': map,
            'title': item.Code
        });

        var infowindow = new google.maps.InfoWindow({    
        content: "<div><h5>" + item.Code + "</h5>" + 
        "<p> <b>City: </b>" + item.City + "</p>" +
        "<p> <b>Street: </b>" + item.Street + "</p>" +
        "<p> <b>Number: </b>" + item.Number + "</p>" +
        
        "</div>"
        });   

        google.maps.event.addListener(marker, 'click', function () {    
            infowindow.open(map, marker);    
        });  
    });    

      
}
    

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(initMap);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js"></script>

<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        $('#charge-machines-table').DataTable();
        getLocation();
    });
</script>



