@model ChargeMachineViewModel

<h1 class="margin-bottom-40">Machine code: @Model.Code</h1>

<div class="card" style="width: 30rem;">
  <img class="card-img-top" src="https://astros.in/wp-content/uploads/2018/10/electrifyamericachargersbybtcpower1.jpg" alt="Station">
  <div class="card-body">
    <h5 class="card-title">@Model.Code</h5>
    <div>
         <label asp-for="City" class="details-label-form"></label>
         <span> @Model.City </span>
    </div>

    <div>
         <label asp-for="Street" class="details-label-form"></label>
         <span> @Model.Street </span>
     </div>

     <div>
         <label asp-for="Number" class="details-label-form"></label>
        <span> @Model.Number </span>
    </div>

    <div>
        <label asp-for="Latitude" class="details-label-form"></label>
        <span> @Model.Latitude </span>
    </div>

    <div>
        <label asp-for="Longitude" class="details-label-form"></label>
        <span> @Model.Longitude </span>
    </div>
  </div>
</div>
